@model AdminDashboard.Models.SCRel

@{
    ViewBag.Title = "SubCategoryDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SubCategoryDetail</h2>

<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class=" bg-white has-shadow">
            <div class="row">

                <div class="col-sm-2">
                    <p>Category</p>
                </div>
                <div class="col-sm-6 text-left">
                    @Html.DropDownList("CID", new SelectList(ViewBag.Category, "CID", "Category_Name", Model.CID))
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    @Html.HiddenFor(model => model.CCID, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    @Html.HiddenFor(model => model.SCID, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    SubCategory Name:
                </div>
                <div class="col-sm-6 text-left">
                    @Html.EditorFor(model => model.SubCategory_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubCategory_Name, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="row">
                <div class="col-sm-2">
                    SubCategory Description:
                </div>
                <div class="col-sm-6 text-left">
                    @Html.EditorFor(model => model.SubCate_Des, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubCate_Des, "", new { @class = "text-danger" })

                </div>

            </div>
            <div class="row">
                <div class="col-sm-2">
                    Upload BrandImage:

                </div>
                <div class="col-sm-4 text-left">
                    <input type="file" name="imgfile" id="imgfile" style="width: 100%;" />
                </div>
                <div class="col-sm-6 text-left">
                    <input type="button" value="Upload" id="btnimg" class="btn btn-primary" />
                </div>
                <div>
                    <img src="@Model.ImgUrl" alt="@Model.ImgUrl" id="Imgurl" name="Imgurl" height="30px" width="50px" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    Upload IconImage:
                </div>
                <div class="col-sm-4 text-left">
                    <input type="file" name="iconfile" id="iconfile" style="width: 100%;" />
                </div>
                <div class="col-sm-6 text-left">
                    <input type="button" value="Upload" id="btnicon" class="btn btn-primary" />
                </div>
                <div>
                    <img src="@Model.IconUrl" alt="@Model.IconUrl" id="Iconurl" name="Iconurl" height="30px" width="50px" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-10 text-right">
                    <input type="submit" id="btnsave" value="@ViewBag.Action" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "SubCategory")
        </div>

    </div>
</section>

@section scripts {
    <script>
        $(document).ready(function() {
            $('#btnimg').click(function() {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#imgfile").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    var brandname = document.getElementById("SubCategory_Name").value;
                    alert(brandname);
                    // Adding one more key to FormData object
                    fileData.append('brandname','SCat_'+ brandname);

                    $.ajax({
                        url: '/Home/UploadImage',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            if (result.isSuccess) {
                                alert("Successfully submitted ajax!");
                            } else {
                                alert(result.errorMsg);
                            }
                            $("#Imgurl").attr('src', '/Images/' + brandname + '_Img.png');
                            //alert(result);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
            $('#btnicon').click(function () {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#iconfile").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                    var brandname = document.getElementById("SubCategory_Name").value;
                    alert(brandname);
                    // Adding one more key to FormData object
                    fileData.append('brandname','SCat_'+ brandname);

                    $.ajax({
                        url: '/Home/UploadIcon',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            if (result.isSuccess) {
                                alert("Successfully submitted ajax!");
                            } else {
                                alert(result.errorMsg);
                            }
                            $("#Iconurl").attr('src', '/Icon/' + brandname + '_Icon.png');
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });
            $('#btnsave').click(function() {
               // alert("hi");
                var sc = {
                    CCID: $('#CCID').val(),
                    SCID: $('#SCID').val(),
                    CID: $('#CID').val(),
                    SubCategory_Name: document.getElementById("SubCategory_Name").value,
                    SubCate_Des: $('#SubCate_Des').val(),
                    ImgUrl: $('#Imgurl').attr('src'),
                    IconUrl: $('#Iconurl').attr('src')
                };

               // console.log(c);
                $.post("/Home/SubCategory", { sc: sc, IUDFlag:'@ViewBag.Flag'}, function (data) {

                });


            });
        });
    </script>

}